.metadata
Debug
Release
YRPBRL78L12_e2studio_Debugging_Project.zip
YRPBRL78L12_LCD_Demo_SW.zip
OB1203RL78L12-IAR
r01an3738-g1dplxp
RL78
an-r01an3738ej0100-g1dplxp-apl.zip
PinMap-Proposal.xlsx
ProjectPlanDocument-OB1203.docx
